<title>I Freaking Hate This Game</title>

<ul id="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/courses">Courses</a></li>
	<li><a href="http://disneyland.com/">Disneyland</a></li>		
</ul>

<%= yield %>